@font-face {
  font-family: omoriCursed;
  src: url('fonts/OMORI_GAME.ttf');
}

@font-face {
  font-family: omoriNormal;
  src: url('fonts/OMORI_GAME2.ttf');
}

:root {
  color: black;
  user-select: none;
  -moz-user-select: none;
}

html {
  height: 100%;
}

body {
  background-color: #fcfefc;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#two {
  display: none;
}

#one,
#two {
  width: 25%;
}

.text {
  font-family: omoriNormal;
  font-size: 5vw;
}

.something {
  display: none;
  height: 100%;
  width: 100%;
  background-image: url('img/somethingGIF.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}